body { 
	padding-bottom: 70px; 
}

#footerColor{
	padding-top: 1%;
	color: white;
}
#portafolioContent{
	width: 100%;
	color: #fff;
	/*text-align: center;*/
	position: absolute;
	background-color: #f48024; 
	margin-top: 70%;
	font-size: 15px;
	/*font-weight: bold; */
}